.body-1{
    background-color: #f8f9fa;
    padding-top: 60px
  }

  .course-card {
    margin-bottom: 20px;
  }
    .initial-section{
      background-image:url();
      background-size: cover;
      color: white;
      text-align: center;
      padding: 100px;
      background-color: #5ebfe7c9;
    }
 
  .display-4{
    color: black;
  }

  .lead{
      color: black;
    }

.card-img-top-1{
  height: 523px;
  width: 348px;
}

.index-1{
  background-color: #f8f9fa;
}

.space{
  padding: 5%;
  text-align: center;
}

.footer-1{
  padding: 20%;
  text-align: center;
}

.Fleet{
  text-align: center;
}

.t-1{
 text-align: center;
}

.orientation{
  text-align:initial;
  list-style-type: none;
  padding: 5%;
}

.style-1{
  font-weight: bolder;
}

.t-3{
  text-align: center;
}
.t-4{
  text-align: center;
  padding: 5%;
}