 /* .body-1{  */
    /* background-color: #f8f9fa;  */
    /* padding-top: 60px  */
  /* }  */
 
  .body-1{
    padding-top: 60px;
  } 

  .jumbotron{
    background-image: url('https://i.pinimg.com/564x/e4/72/15/e47215ba83edcc165877ae7c6b819f8c.jpg');
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  .course-card {
    margin-bottom: 20px;
  }
    /* .initial-section{ */
      /* background-image:url();  */
      /* background-size: cover;  */
      /* color: white;  */
      /* text-align: center;  */
      /* padding: 100px;  */
      /* background-color: #5ebfe7c9;  */
    /* }  */
 
  /* .display-4{  */
    /* color: black; */
  /* } */

  /* .lead{  */
      /* color: black;  */
    /* }   */

.card-img-top{
 height: 400px;
}

.index-1{
  background-color: #f8f9fa;
}

.space{
  padding: 5%;
  text-align: center;
}

.footer-1{
  padding: 20%;
  text-align: center;
}

.Fleet{
  text-align: center;
}

.t-1{
 text-align: center;
}

.orientation{
  text-align:initial;
  list-style-type: none;
  padding: 5%;
}

.style-1{
  font-weight: bolder;
}

.t-3{
  text-align: center;
}
.t-4{
  text-align: center;
  padding: 5%;
}

.l-33{
  margin: 2%;
  margin-left: auto;
}

.card-body{
  height: 200px;
}